.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "image name"
    "lower name"
    }

.image{
    /* border: solid black 1px ; */
    height: 50vh;
    grid-area: image;
    }
 img{
     width: 100%;
     height: 50vh;
 }
.blue{
    /* border: solid blue 1px; */
    height: 55vh;
    grid-area: lower;
    background-color: blue;
    color: white;
}
.contact{
    margin: 40px 30px ;
    }

.top{
    display: flex;
    /* align-content: space-around; */
}
.left{
    margin-left: 100px;
    width: 50%;
}
.right{
    margin-left: 50px;
    width: 50%;
    margin-top: 3rem;
 }

.middle{
    display: flex;
    }
hr{
    border: blue solid 1px;
    width: 80%;
}
.name{
    /* border: solid red 1px; */
    height: 105vh;
        grid-area: name;
        background-color: lightgray;
        color: blue;
   }
   h1{
     margin-left: 100px;
   }

   .bottom{
       display: flex;
   }